<!-- load the image files but do not display them to the screen -->

<div style="display:none;">
    <img id="testHex"          width = "32"  height = "32" src="images/testHex.png"              alt="textHex">   
    <img id="dirtHex"          width = "32"  height = "64" src="images/dirtHex.png"              alt= "dirtHex">   
    <img id="dirtHex2"         width = "32"  height = "64" src="images/dirtHex2.png"             alt="dirtHex2">   
    <img id="stoneHex"         width = "32"  height = "64" src="images/stoneHex.png"             alt="stoneHex">
    <img id="waterHexSprite"   width = "256" height = "64" src="images/animatedHex/waterHex.png" alt="waterHex">   
    <img id="monkSprite"       width = "800" height = "600"src="images/mobs/monkspritesheet.png" alt="monkSpriteSheet">           
</div>

<div id="canvas_container"> 
    <!-- create the canvas to draw the game too-->
    <canvas id="myCanvas" >
	    Your browser does not support the HTML5 canvas tag.
    </canvas>
</div>

<!-- include the the javascript files -->
<script type="text/javascript" src="javascripts\retribution_online\gameEntityHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\checkNeighbor.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\mapHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\frameHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\graphicsHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\inputHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\gameHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\spriteDrawer.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\hexDrawer.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\main.js"></script>
