 <div style="display:none;">
                <img id="player1Victory" width="300" height="300" src="images\player1Victory.png" alt="player ones victory screen">
                <img id="player2Victory" width="300" height="300" src="images\player2Victory.png" alt="player two's victory screen">
                <img id="noVictory" width="300" height="300" src="images\noWin.png" alt="screen for the lack of a victory">
 </div>
        
        <canvas id="myCanvas" width="400" height="400" style="border:1px solid #d3d3d3;" onclick="updateLogic(event)">
                Your browser does not support the HTML5 canvas tag.
        </canvas>  
        <font color= "red">
                <p id="displayCoordinates"></p>
                <p id="informationDisplay"></p>
        </font>
        <script type="text/javascript" src="javascripts\checkers.js"></script>
        