<!-- load the image files but do not display them to the screen -->

<div style="display:none;">
     <img id="testHex" src="images/testHex.png" alt="textHex">   
    <img id="dirtHex" src="images/dirtHex.png" alt= "dirtHex">   
    <img id="dirtHex2" src="images/dirtHex2.png" alt="dirtHex2">   
    <img id="stoneHex" src="images/stoneHex.png" alt="stoneHex">   
    <img id="monkSprite" src="images/mobs/monkspritesheet.png" alt="monkSpriteSheet">           
</div>

<div id="canvas_container"> <!-- create the canvas to draw the game too-->
    <canvas id="myCanvas" width="800" height="600">
	    Your browser does not support the HTML5 canvas tag.
    </canvas>
</div>
<!-- include the the javascript files -->
<script type="text/javascript" src="javascripts\retribution_online\mobHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\frameHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\graphicsHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\inputHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\gameHandler.js"></script>
<script type="text/javascript" src="javascripts\retribution_online\main.js"></script>
