<h1>{{title}}</h1>
<p>Click the name of the game you would like to play</p>
<a href="http://localhost:8000/tictactoe" target="_blank" rel="nofollow">tic tac toe</a>
<a href="http://localhost:8000/checkers" target="_blank" rel="nofollow">checkers</a>
<a href="http://localhost:8000/caveExplorer001"  target="_blank" rel="nofollow">cave exploration</a>