<h1>{{title}}</h1>
<p>this is {{title}}</p>
<form action"/test/submit" method"post">
  <input type="text" name="id">
  <button type="submit">submit</button>
</form>
<a href="http://localhost:8000/tictactoe" target="_blank" rel="nofollow">Click here to go to tic tac toe</a>