<div style="display:none;">
    <img id="dirtHex" width="64" height="64" src="images/dirtHex.png" alt="Dirt Hexagon tile">
    <img id="rockHex" width="64" height="64" src="images/rockHex.png" alt="Rock Hexagon tile">
    <img id="rockHexWall" width="64" height="64" src="images/rockHexWall.png" alt="Rock Hexagon Wall tile">
    <img id="redHexOutline" width="64" height="64" src="images/redHexOutline.png" alt="Glowing Red tile">
    <img id="monk" width="64" height="64" src="images/mobs/monkspritesheet.png" alt="Monk sprite sheet">           
</div>
	
<div class="grid-container">
    <form>
        <input id="northWestButton" type="button" value="NW">
        <input id="northButton" type="button" value="N">
        <input id="northEastButton" type="button" value="NE">
        <input id="southEastButton" type="button" value="SE">
        <input id="southButton" type="button" value="S">
        <input id="southWestButton" type="button" value="SW">
    </form>  
</div>

<canvas id="myCanvas" width="800" height="600" style="border:1px solid #f5e5e5;" onclick="mouseClicked(event)">
	Your browser does not support the HTML5 canvas tag.
</canvas>


<script type="text/javascript" src="javascripts\hexGridLogic.js"></script>
<script type="text/javascript" src="javascripts\mobs.js"></script>
<script type="text/javascript" src="javascripts\caveExplorer001.js"></script>