       
        <canvas id="myCanvas" width="400" height="400" style="border:1px solid #d3d3d3;" onclick="updateLogic(event)">
                Your browser does not support the HTML5 canvas tag.
        </canvas>  
        <font color= "red">
                <p id="informationDisplay"></p>
        </font>
        <script type="text/javascript" src="javascripts\rasterizer.js"></script>
