 <div style="display:none;">
                <img id="p1stamp" width="100" height="100" src="images\p1stamp.png" alt="player one's stamp">
                <img id="p2stamp" width="100" height="100" src="images\p2stamp.png" alt="player two's stamp">
                <img id="gridImg" width="300" height="300" src="images\grid.png" alt="tic tac toe board">
                <img id="player1Victory" width="300" height="300" src="images\player1Victory.png" alt="player ones victory screen">
                <img id="player2Victory" width="300" height="300" src="images\player2Victory.png" alt="player two's victory screen">
                <img id="noVictory" width="300" height="300" src="images\noWin.png" alt="screen for the lack of a victory">
 </div>
        
        <canvas id="myCanvas" width="300" height="300" style="border:1px solid #d3d3d3;" onclick="updateLogic(event)">
                Your browser does not support the HTML5 canvas tag.
        </canvas>  
        <font color= "red">
                <p id="displayCoordinates"></p>
                <p id="turnDisplay"></p>
        </font>
        <script type="text/javascript" src="javascripts\tictactoe.js"></script>
        